@model AspMVC.Areas.Main.Models.BrowseViewModel
@{

}

    <div class="browse_games_page browse_base_page page_widget base_widget" id="browse_games_6775496">
        <div class="grid_columns">
        <!-- browse sidebar -->

            <div class="column filter_column_outer">
                <section class="filter_column">
                    <div class="filters_header">
                        <h2>Filter Results</h2>
                    </div>
                    <!-- Filters -->
                    <div class="filter_pickers">
                    <!-- Platform -->
                    <div id="browse_filter_group_8751780" class="browse_filter_group_widget base_widget filters_open">
                        <div class="filter_group_label">
                            <button type="button" onclick="$(this).closest('.browse_filter_group_widget').toggleClass('filters_open')" class="group_toggle_btn">
                                <span class="filter_arrow">
                                    <span aria-hidden="true" class="icon icon-triangle-down"></span>
                                    <span aria-hidden="true" class="icon icon-triangle-right"></span>
                                </span>Platform
                            </button>
                        </div>
                        <ul>
                            @foreach(var p in Model.Platforms)
                            {
                                <li class="@(ViewBag.Platform == p.PlatformSlug ? "active" : string.Empty)">
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="@ViewBag.When" asp-route-platform="@p.PlatformSlug">
                                        <i class="fa-brands fa-@(p.PlatformName)"></i> @p.PlatformName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- Platform -->
                    <!-- Price -->
                        <div class="browse_filter_group_widget base_widget filters_open" id="browse_filter_group_200751">
                            <div class="filter_group_label">
                                <button class="group_toggle_btn" type="button" onclick="$(this).closest(&#039;.browse_filter_group_widget&#039;).toggleClass(&#039;filters_open&#039;)">
                                    <span class="filter_arrow">
                                        <span class="icon icon-triangle-down" aria-hidden="true"></span>
                                        <span class="icon icon-triangle-right" aria-hidden="true"></span>
                                    </span>Price
                                </button>
                            </div>
                            <ul>
                                <li>
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="free" asp-route-genre="@ViewBag.Genre" asp-route-when="@ViewBag.When" asp-route-platform="@ViewBag.Platform">
                                        <span class="icon icon-star" aria-hidden="true"></span>
                                        test
                                    </a>
                                </li>
                                <li>
                                    <a href="/games/free">
                                        <span class="icon icon-star" aria-hidden="true"></span>Free
                                    </a>
                                </li>
                                <li>
                                    <a href="/games/on-sale">
                                        <span class="icon icon-star" aria-hidden="true"></span>On Sale
                                    </a>
                                </li>
                                <li>
                                    <a href="/games/store">
                                        <span class="icon icon-cart" aria-hidden="true"></span>Paid
                                    </a>
                                </li>
                                <li>
                                    <a href="/games/5-dollars-or-less">
                                        <span class="icon icon-cart" aria-hidden="true"></span>$5 or less
                                    </a>
                                </li>
                                <li>
                                    <a href="/games/15-dollars-or-less">
                                        <span class="icon icon-cart" aria-hidden="true"></span>$15 or less
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <!-- Price -->

                    <!-- When -->
                        <div class="browse_filter_group_widget base_widget filters_open" id="browse_filter_group_8755468">
                            <div class="filter_group_label">
                                <button class="group_toggle_btn" type="button" onclick="$(this).closest(&#039;.browse_filter_group_widget&#039;).toggleClass(&#039;filters_open&#039;)">
                                    <span class="filter_arrow">
                                        <span class="icon icon-triangle-down" aria-hidden="true"></span>
                                        <span class="icon icon-triangle-right" aria-hidden="true"></span>
                                    </span>When
                                </button>
                            </div>
                            <ul>
                                <li class="@(ViewBag.When == "last-day" ? "active" : string.Empty)">
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="last-day" asp-route-platform="@ViewBag.Platform">
                                        <span class="icon icon-stopwatch" aria-hidden="true"></span>Last Day
                                    </a>
                                </li>
                                <li class="@(ViewBag.When == "last-7-days" ? "active" : string.Empty)">
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="last-7-days" asp-route-platform="@ViewBag.Platform">
                                        <span class="icon icon-stopwatch" aria-hidden="true"></span>Last 7 days
                                    </a>
                                </li>
                                <li class="@(ViewBag.When == "last-30-days" ? "active" : string.Empty)">
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="last-30-days" asp-route-platform="@ViewBag.Platform">
                                        <span class="icon icon-stopwatch" aria-hidden="true"></span>Last 30 days
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <!-- When -->
                    <!-- Genre -->
                        <div class="browse_filter_group_widget base_widget filters_open" id="browse_filter_group_8440">
                            <div class="filter_group_label">
                                <button class="group_toggle_btn" type="button" onclick="$(this).closest(&#039;.browse_filter_group_widget&#039;).toggleClass(&#039;filters_open&#039;)">
                                    <span class="filter_arrow">
                                        <span class="icon icon-triangle-down" aria-hidden="true"></span>
                                        <span class="icon icon-triangle-right" aria-hidden="true"></span>
                                    </span>Genre
                                </button>
                            </div>
                            <ul>
                                @foreach (var g in Model.Genres)
                                {
                                    <li class="@(ViewBag.Genre == g.GenreSlug ? "active" : string.Empty)">
                                    <a asp-action="Browse" asp-route-sort="@ViewBag.Sort" asp-route-price="@ViewBag.Price" asp-route-genre="@g.GenreSlug" asp-route-when="@ViewBag.When" asp-route-platform="@ViewBag.Platform" class="@(ViewBag.Genre == g.GenreSlug ? "active" : string.Empty)">
                                            <span class="icon icon-tag" aria-hidden="true"></span>
                                            @g.GenreName
                                        </a>
                                    </li>
                                }

                                
                            </ul>
                        </div>
                    <!-- Genre -->

                        <section class="related_collections">
                            <h3>Related collections</h3>
                            <div class="collection_cell">
                                <a href="/c/191219/leeched">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzk0NTk2MzcucG5n/110x87%23/DoK0rA.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzExMTcyODE5LnBuZw==/110x87%23/Fc6CuW.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzExMTcwMDM3LnBuZw==/110x87%23/tYvbhJ.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzExMTcwODMzLnBuZw==/110x87%23/sA5H62.png" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/191219/leeched">Leeched</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://raya2.itch.io">Pro PC Gamer</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_cell">
                                <a href="/c/2601447/playdates-collection">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2Njc0NzMxLnBuZw==/110x87%23/S%2FBYKX.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzEzNTE1ODEyLnBuZw==/110x87%23/7X4icU.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2Njk0Mjk3LmpwZw==/110x87%23/9funzC.jpg" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjgyMDY5LnBuZw==/110x87%23/NHXmOA.png" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/2601447/playdates-collection">Playdate&#039;s Collection</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://dart92ita.itch.io">Dart92ITA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_cell">
                                <a href="/c/4160602/wbuas-collection">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1hZ2UvMjI0OTUwLzEwNjcxMjQucG5n/110x87%23/QJuLwe.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1hZ2UvMTQ2MDg0LzY3NDk2Mi5wbmc=/110x87%23/4hH8tX.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjUzNDY1LmpwZw==/110x87%23/8QrZgg.jpg" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjUyMjQ1LnBuZw==/110x87%23/e5LYqh.png" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/4160602/wbuas-collection">wbua&#039;s Collection</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://wbua.itch.io">wbua</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_cell">
                                <a href="/c/3709096/horror">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzQ1MTQ3MDIuZ2lm/110x87%23m/NUtNrV.gif" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzY3NDE1OTIuZ2lm/110x87%23m/lrzisL.gif" />
                                        <img data-lazy_src="https://img.itch.zone/aW1hZ2UvMTM1MzAwLzY0ODMxMy5naWY=/110x87%23m/kivK%2BZ.gif" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzQ4MjA5NDEucG5n/110x87%23/BfBybx.png" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/3709096/horror">Horror</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://jackionel.itch.io">Jackionel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_cell">
                                <a href="/c/3137108/playdate-highlights">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjU3Mzg3LnBuZw==/110x87%23/p%2BIEDS.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjE3MzExLnBuZw==/110x87%23/tZksw8.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE2NjExMDg2LnBuZw==/110x87%23/S1%2FtR6.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzE1MTMxNjc3LmpwZWc=/110x87%23/NxaVwE.jpeg" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/3137108/playdate-highlights">playdate highlights</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://naxuu.itch.io">naxuu</a>
                                    </div>
                                </div>
                            </div>
                            <div class="collection_cell">
                                <a href="/c/3599671/2023-summer-term">
                                    <div class="collection_thumb lazy_images">
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzEzMDM4NzE3LnBuZw==/110x87%23/DuZQaV.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzExMDQwNDEwLmdpZg==/110x87%23m/tHRqoH.gif" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzEyOTU0NTExLnBuZw==/110x87%23/bEei0g.png" />
                                        <img data-lazy_src="https://img.itch.zone/aW1nLzEyOTc2NjQ4LnBuZw==/110x87%23/lnBIIV.png" />
                                    </div>
                                </a>
                                <div class="collection_data">
                                    <div class="collection_title">
                                        <a href="/c/3599671/2023-summer-term">2023 SUMMER TERM</a>
                                    </div>
                                    <div class="collection_author">
                                        <a href="https://htkacademy.itch.io">htk academy</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        <!-- browse sidebar -->
        <!-- game columns -->

            <div class="column grid_column_outer">
                <div class="grid_column">
                    <div class="browse_header">
                        <div class="mobile_filter_row">
                            <button class="mobile_filter_btn">
                                <svg version="1.1" class="svgicon icon_filter" viewBox="0 0 24 24" width="16" height="16" stroke-linecap="round" fill="none" stroke-linejoin="round" aria-hidden stroke-width="2" stroke="currentColor" role="img">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg>Filter
                            </button>
                        </div>
                        <h2>
                            <span>Results: @Model.GameCells.Count() Games</span>
                            <nobr class="game_count"> (969,031 results)</nobr>
                        </h2>
                        <div class="browse_sort_options_widget base_widget" id="browse_sort_options_8822924">
                            <span class="sort_label">
                                <svg version="1.1" class="svgicon icon_sort" viewBox="0 0 455 488" aria-hidden width="16" height="17" role="img" fill="currentColor">
                                    <path d="M304 392v48c0 4.5-3.5 8-8 8h-64c-4.5 0-8-3.5-8-8v-48c0-4.5 3.5-8 8-8h64c4.5 0 8 3.5 8 8zM184 360c0 2.25-1 4.25-2.5 6l-79.75 79.75c-1.75 1.5-3.75 2.25-5.75 2.25s-4-0.75-5.75-2.25l-80-80c-2.25-2.5-3-5.75-1.75-8.75s4.25-5 7.5-5h48v-344c0-4.5 3.5-8 8-8h48c4.5 0 8 3.5 8 8v344h48c4.5 0 8 3.5 8 8zM352 264v48c0 4.5-3.5 8-8 8h-112c-4.5 0-8-3.5-8-8v-48c0-4.5 3.5-8 8-8h112c4.5 0 8 3.5 8 8zM400 136v48c0 4.5-3.5 8-8 8h-160c-4.5 0-8-3.5-8-8v-48c0-4.5 3.5-8 8-8h160c4.5 0 8 3.5 8 8zM448 8v48c0 4.5-3.5 8-8 8h-208c-4.5 0-8-3.5-8-8v-48c0-4.5 3.5-8 8-8h208c4.5 0 8 3.5 8 8z"></path>
                                </svg>
                                <div>Sort by</div>
                            </span>
                            <ul class="sorts">
                                <li class="">
                                    <a asp-action="Browse" asp-route-sort="most-popular" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="@ViewBag.When" asp-route-platform="@ViewBag.Platform" data-action="sort" class="@(ViewBag.Sort == "most-popular" ? "active" : string.Empty)">
                                    Popular
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Browse" asp-route-sort="most-recent" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="@ViewBag.When" asp-route-platform="@ViewBag.Platform" data-action="sort" class="@(ViewBag.Sort == "most-recent" ? "active" : string.Empty)">
                                        Most Recent
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Browse" asp-route-sort="top-rated" asp-route-price="@ViewBag.Price" asp-route-genre="@ViewBag.Genre" asp-route-when="@ViewBag.When" asp-route-platform="@ViewBag.Platform" data-action="sort" class="@(ViewBag.Sort == "top-rated" ? "active" : string.Empty)">
                                        Top rated
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="sort_options_mobile">
                            <div class="filter_picker_widget base_widget has_selection" id="filter_picker_7656728">
                                <button class="filter_value">
                                    <span class="value_label">Popular</span>
                                    <svg version="1.1" class="svgicon icon_down_tick2" viewBox="0 0 24 24" width="18" height="18" stroke-linecap="round" fill="none" stroke-linejoin="round" aria-hidden stroke-width="2" stroke="currentColor" role="img">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </button>
                                <div class="filter_popup">
                                    <div class="filter_options">
                                        <a class="filter_option " data-value="popularity" href="/games">Popular</a>
                                        <a class="filter_option " data-value="popularity2" href="/games/new-and-popular">New &amp; Popular</a>
                                        <a class="filter_option " data-value="purchases" href="/games/top-sellers">Top sellers</a>
                                        <a class="filter_option " data-value="rating" href="/games/top-rated">Top rated</a>
                                        <a class="filter_option " data-value="newest" href="/games/newest">Most Recent</a>
                                    </div>
                                </div>
                            </div>
                            <div class="game_count">969,031 results</div>
                        </div>
                    </div>
                    <div class="grid_outer">
                        <div class="game_grid_widget base_widget browse_game_grid">
                            @foreach(var item in Model.GameCells){
                            await Html.RenderPartialAsync("~/Areas/Main/Views/Shared/_browsePageGameCell.cshtml", item);


                            }
                        </div>
                    </div>
                    <div class="grid_loader">
                        <div class="on_loading">
                            <div class="loader_spinner"></div>Loading more games...
                        </div>
                        <div class="next_page forward_link">
                            <a href="?page=2">Next page</a>
                        </div>
                    </div>
                </div>
            </div>
        <!-- game columns -->

        </div>
    </div>