@model IEnumerable<AspMVC.Models.ProjectPageModel>

<link href="~/css/itchio.css" rel="stylesheet">
<link href="https://static.itch.io/game.css?1718920491" rel="stylesheet">
<link href="https://static.itch.io/redactor.css" rel="stylesheet">
@*    <script type="text/javascript">window.itchio_translations_url = 'https://static.itch.io/translations';</script>
*@    <script type="text/javascript" src="https://static.itch.io/lib.min.js?1718312711"></script>
<script defer="" type="text/javascript" src="https://static.itch.io/react.min.js?1718312711"></script>
<script type="text/javascript" src="https://static.itch.io/index.min.js?1718312711"></script>


<div class="index_page page_widget base_widget" id="index_2219236">
    <div class="sidebar_shroud"></div>
    <!-- sidebar -->
    <div class="index_sidebar">
        <div class="scrolling_content">
            <form action="/search" class="game_search">
                <input name="q" placeholder="Search games &amp; creators" required="required" type="text" class="search_input" />
            </form>
            <div class="sidebar_browse">
                <section class="sidebar_browse_group">
                    <h2>Popular Tags</h2>
                    <div class="browse_filters">
                        <a href="/games/tag-horror">Horror games</a>
                        <a href="/games/tag-multiplayer">Multiplayer</a>
                        <a href="/games/genre-visual-novel">Visual novels</a>
                        <a href="/games/html5">HTML5 games</a>
                        <a title="Simulation games" href="/games/genre-simulation">Simulation</a>
                        <a data-action="browse" data-label="osx" href="/games/platform-osx" title="Browse games for macOS">macOS games</a>
                        <a title="Roguelike games" href="/games/tag-roguelike">Roguelike</a>
                        <a data-action="browse" data-label="linux" href="/games/platform-linux" title="Browse games for Linux">Linux games</a>
                        <a title="View all tags" href="/tags" class="forward_link wide">Browse all tags</a>
                    </div>
                </section>
                <section class="sidebar_browse_group">
                    <h2>Browse</h2>
                    <div class="browse_filters">
                        <a data-action="browse" data-label="game" href="/games" title="Browse Games">Games</a>
                        <a data-action="browse" data-label="assets" href="/game-assets" title="Browse Game assets">Game assets</a>
                        <a data-action="browse" data-label="tool" href="/tools" title="Browse Tools">Tools</a>
                        <a data-action="browse" data-label="soundtrack" href="/soundtracks" title="Browse Albums &amp; soundtracks">Albums &amp; soundtracks</a>
                        <a data-action="browse" data-label="physical_game" href="/physical-games" title="Browse Physical games">Physical games</a>
                        <a data-action="browse" data-label="comic" href="/comics" title="Browse Comics">Comics</a>
                        <a data-action="browse" data-label="book" href="/books" title="Browse Books">Books</a>
                        <a title="Randomizer" href="/randomizer">
                            <span class="icon icon-shuffle"></span>
                            <span class="text">Randomizer</span>
                        </a>
                    </div>
                </section>
                <section class="sidebar_browse_group">
                    <h2>Games by price</h2>
                    <div class="browse_filters">
                        <a data-action="browse" data-label="sale" title="Browse games on sale" href="/games/price-sale">On Sale</a>
                        <a data-action="browse" data-label="free" title="Browse free games" href="/games/free">Free games</a>
                        <a data-action="browse" data-label="demo" title="Browse games with demos" href="/games/price-demo">With demo</a>
                        <a data-action="browse" data-label="top-sellers" title="Browse top selling games" href="/games/top-sellers">Top sellers</a>
                        <a data-action="browse" data-label="less-than-5" href="/games/price-500" title="Browse games less than or equal to 5.00">$5 or less</a>
                        <a data-action="browse" data-label="less-than-15" href="/games/price-1500" title="Browse games less than or equal to 15.00">$15 or less</a>
                    </div>
                </section>
            </div>
            <div class="sidebar_social">
                <a data-action="social_button" data-label="reddit" href="https://www.reddit.com/r/itchio" class="icon icon-reddit"></a>
                <a data-action="social_button" data-label="facebook" href="https://www.facebook.com/itchiogames" class="icon icon-facebook"></a>
                <a data-action="social_button" data-label="twitter" href="https://twitter.com/itchio" class="icon icon-twitter"></a>
                <a href="/app" class="get_app">Download app</a>
            </div>
            <section class="blog_post_section">
                <h2>From the itch.io blog</h2>
                <ul class="blog_posts">
                    <li>
                        <a data-action="blog" href="/blog/700212/the-itchio-spring-sale-bundles-are-here" class="post_link">
                            <div title="2024-03-18 23:30:46" class="date">88d</div>
                            <div dir="auto">The itch.io Spring Sale &amp; Bundles are here</div>
                        </a>
                        <a data-action="blog" data-label="the-itchio-winter-sale-2023-is-live" href="/updates/the-itchio-winter-sale-2023-is-live" class="post_link">
                            <div title="2023-12-20 23:17:38" class="date">177d</div>
                            <div dir="auto">The itch.io Winter Sale 2023 is live!</div>
                        </a>
                        <a data-action="blog" data-label="pick-up-5-great-games-in-the-itchio-autumn-ttrpg-selects-bundle" href="/updates/pick-up-5-great-games-in-the-itchio-autumn-ttrpg-selects-bundle" class="post_link">
                            <div title="2023-11-29 18:53:04" class="date">198d</div>
                            <div dir="auto">Pick up 5 great games in the itch.io Autumn TTRPG Selects Bundle!</div>
                        </a>
                        <a data-action="blog" href="/blog/638389/the-next-itchio-creator-day-is-this-friday-november-24th" class="post_link">
                            <div title="2023-11-20 19:27:43" class="date">207d</div>
                            <div dir="auto">The next itch.io Creator Day is this Friday November 24th!</div>
                        </a>
                        <a data-action="blog" href="/blog/625934/the-itchio-halloween-sale-is-live" class="post_link">
                            <div title="2023-10-25 19:16:34" class="date">233d</div>
                            <div dir="auto">The itch.io Halloween sale is live!</div>
                        </a>
                        <a data-action="blog" href="/blog/610150/games-of-the-week-mr-platformer-videoverse-and-test-test-test" class="post_link">
                            <div title="2023-09-22 18:12:57" class="date">266d</div>
                            <div dir="auto">Games of the Week: Mr Platformer, Videoverse, and TEST TEST TEST</div>
                        </a>
                        <a data-action="blog" href="/blog/582258/games-of-the-week-papers-fish-and-frogs" class="post_link">
                            <div title="2023-08-31 18:01:59" class="date">288d</div>
                            <div dir="auto">Games of the Week: Papers, Fish, and Frogs</div>
                        </a>
                        <a data-action="blog" href="/blog/578046/the-next-itchio-creator-day-is-this-friday-august-25th" class="post_link">
                            <div title="2023-08-21 17:50:49" class="date">298d</div>
                            <div dir="auto">The Next itch.io Creator Day is this Friday, August 25th!</div>
                        </a>
                    </li>
                </ul>
                <p>
                    <a href="/updates" class="forward_link">View all updates</a>
                </p>
            </section>
        </div>
    </div>
    <!-- usertoolsidebar -->

    <ul id="user_tools" class="user_tools">
        <li>
            <a href="https://pukogames.itch.io" class="action_btn view_more">
                <svg role="img" version="1.1" viewBox="0 0 262.728 235.452" aria-hidden="" height="16" class="svgicon icon_itchio_new" width="18">
                    <path d="M31.99 1.365C21.287 7.72.2 31.945 0 38.298v10.516C0 62.144 12.46 73.86 23.773 73.86c13.584 0 24.902-11.258 24.903-24.62 0 13.362 10.93 24.62 24.515 24.62 13.586 0 24.165-11.258 24.165-24.62 0 13.362 11.622 24.62 25.207 24.62h.246c13.586 0 25.208-11.258 25.208-24.62 0 13.362 10.58 24.62 24.164 24.62 13.585 0 24.515-11.258 24.515-24.62 0 13.362 11.32 24.62 24.903 24.62 11.313 0 23.773-11.714 23.773-25.046V38.298c-.2-6.354-21.287-30.58-31.988-36.933C180.118.197 157.056-.005 122.685 0c-34.37.003-81.228.54-90.697 1.365zm65.194 66.217a28.025 28.025 0 0 1-4.78 6.155c-5.128 5.014-12.157 8.122-19.906 8.122a28.482 28.482 0 0 1-19.948-8.126c-1.858-1.82-3.27-3.766-4.563-6.032l-.006.004c-1.292 2.27-3.092 4.215-4.954 6.037a28.5 28.5 0 0 1-19.948 8.12c-.934 0-1.906-.258-2.692-.528-1.092 11.372-1.553 22.24-1.716 30.164l-.002.045c-.02 4.024-.04 7.333-.06 11.93.21 23.86-2.363 77.334 10.52 90.473 19.964 4.655 56.7 6.775 93.555 6.788h.006c36.854-.013 73.59-2.133 93.554-6.788 12.883-13.14 10.31-66.614 10.52-90.474-.022-4.596-.04-7.905-.06-11.93l-.003-.045c-.162-7.926-.623-18.793-1.715-30.165-.786.27-1.757.528-2.692.528a28.5 28.5 0 0 1-19.948-8.12c-1.862-1.822-3.662-3.766-4.955-6.037l-.006-.004c-1.294 2.266-2.705 4.213-4.563 6.032a28.48 28.48 0 0 1-19.947 8.125c-7.748 0-14.778-3.11-19.906-8.123a28.025 28.025 0 0 1-4.78-6.155 27.99 27.99 0 0 1-4.736 6.155 28.49 28.49 0 0 1-19.95 8.124c-.27 0-.54-.012-.81-.02h-.007c-.27.008-.54.02-.813.02a28.49 28.49 0 0 1-19.95-8.123 27.992 27.992 0 0 1-4.736-6.155zm-20.486 26.49l-.002.01h.015c8.113.017 15.32 0 24.25 9.746 7.028-.737 14.372-1.105 21.722-1.094h.006c7.35-.01 14.694.357 21.723 1.094 8.93-9.747 16.137-9.73 24.25-9.746h.014l-.002-.01c3.833 0 19.166 0 29.85 30.007L210 165.244c8.504 30.624-2.723 31.373-16.727 31.4-20.768-.773-32.267-15.855-32.267-30.935-11.496 1.884-24.907 2.826-38.318 2.827h-.006c-13.412 0-26.823-.943-38.318-2.827 0 15.08-11.5 30.162-32.267 30.935-14.004-.027-25.23-.775-16.726-31.4L46.85 124.08c10.684-30.007 26.017-30.007 29.85-30.007zm45.985 23.582v.006c-.02.02-21.863 20.08-25.79 27.215l14.304-.573v12.474c0 .584 5.74.346 11.486.08h.006c5.744.266 11.485.504 11.485-.08v-12.474l14.304.573c-3.928-7.135-25.79-27.215-25.79-27.215v-.006l-.003.002z"></path>
                </svg>
                <span class="full_label">View all by PuKo</span>
                <span class="mobile_label">PuKo</span>
            </a>
        </li>
        <li>
            <a class="follow_user_btn action_btn" href="https://pukogames.itch.io" data-user_id="5978114" data-follow_url="https://pukogames.itch.io/-/follow?source=game" data-unfollow_url="https://pukogames.itch.io/-/unfollow?source=game">
                <svg role="img" class="svgicon icon_user_plus on_follow" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="8.5" cy="7" r="4"></circle>
                    <line x1="20" y1="8" x2="20" y2="14"></line>
                    <line x1="23" y1="11" x2="17" y2="11"></line>
                </svg>
                <svg role="img" class="svgicon icon_user_check on_unfollow" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="8.5" cy="7" r="4"></circle>
                    <polyline points="17 11 19 13 23 9"></polyline>
                </svg>
                <span class="on_follow">
                    <span class="full_label">Follow PuKo</span>
                    <span class="mobile_label">Follow</span>
                </span>
                <span class="on_unfollow">
                    <span class="full_label">Following PuKo</span>
                    <span class="mobile_label">Following</span>
                </span>
            </a>
        </li>
        <li>
            <a href="https://pukogames.itch.io/bighead/add-to-collection?source=game" class="action_btn add_to_collection_btn">
                <svg role="img" class="svgicon icon_collection_add2" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <path d="M 1,6 H 14"></path>
                    <path d="M 1,11 H 14"></path>
                    <path d="m 1,16 h 9"></path>
                    <path d="M 18,11 V 21"></path>
                    <path d="M 13,16 H 23"></path>
                </svg>
                <span class="full_label">Add To Collection</span>
                <span class="mobile_label">Collection</span>
            </a>
        </li>
        <li class="community_link">
            <a href="https://pukogames.itch.io/bighead#comments" class="action_btn">
                <svg role="img" class="svgicon icon_comment" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg>Comments
            </a>
        </li>
        <li class="devlog_link">
            <a href="https://pukogames.itch.io/bighead/devlog" class="action_btn">
                <svg role="img" class="svgicon icon_news" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <rect x="1" y="3" width="22" height="18" rx="2" ry="2"></rect>
                    <line x1="6" y1="8" x2="18" y2="8"></line>
                    <line x1="6" y1="12" x2="18" y2="12"></line>
                    <line x1="6" y1="16" x2="18" y2="16"></line>
                </svg>Devlog
            </a>
        </li>
        <li>
            <a class="action_btn rate_game_btn" href="https://pukogames.itch.io/bighead/rate?source=game">
                <svg role="img" class="svgicon icon_star" viewBox="0 0 24 24" aria-hidden="" stroke-width="2" stroke-linecap="round" fill="none" version="1.1" stroke="currentColor" stroke-linejoin="round" height="18" width="18">
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                </svg>
                <span class="on_edit">
                    <span class="full_label">Edit Your Rating</span>
                    <span class="mobile_label">Edit Rating</span>
                </span>
                <span class="on_create">
                    <span class="full_label">Rate this game</span>
                    <span class="mobile_label">Rate</span>
                </span>
            </a>
        </li>
    </ul>
    <!-- main -->

    <div class="main_column">
        <div class="grid_groups">
            <section class="game_section">
                <div class="section_header">
                    <h2>Latest Featured Games</h2>
                    <a href="/games/new-and-popular/featured" class="button outline forward_link">View all</a>
                </div>
                <div data-always_show data-max_rows="3" id="featured_game_grid_5198206" data-overflow_into="featured_games" class="featured_game_grid_widget base_widget">
                            @foreach(var item in Model)
                            {
                                <div data-game_id="@item.ProjectId" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                                    <div style="background-color: rgba(34, 32, 52, 0.5)" class="bordered">
                                        @if (item.ProjectCoverImage == null)
                                        {
                                            <a asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@item.ProjectId">
                                                <img src="/images/no-image.jpg" alt="..." class="img-fluid" style="height:100px;width:180px">
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@item.ProjectId">
                                                <img src="@item.ProjectCoverImage.ProjectCoverImageRelativePath" class="img-fluid" alt="..." style="height:100px;width:180px">
                                            </a>
                                        }
                                    </div>
                                    <div class="label">
                                        <a asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@item.ProjectId" title="@item.Title" class="title">@item.Title</a>
                                    </div>
                                    <div class="sub">@item.ShortDescription</div>
                                </div>
                            }

                </div>
            </section>
            <section data-ca_source="13" class="game_section">
                <div class="section_header">
                    <h2>Fresh Games</h2>
                    <a href="/games/newest/fresh" class="button outline forward_link">View more</a>
                </div>
                <p class="section_description">Constantly updating with the latest games on itch.io</p>
                <div id="featured_game_grid_64569" data-max_rows="3" class="featured_game_grid_widget base_widget"></div>
            </section>
            <section data-ca_source="7" class="game_section solid" data-grid_referrer="index:my_recs">
                <div class="section_header">
                    <h2>Recommended for you</h2>
                    <a href="/library/recommendations" data-label="view_all_recs" class="button outline forward_link">View all</a>
                </div>
                <p class="section_description">Based on things you&#039;ve purchased, downloaded, and rated</p>
                <ul class="recommended_tags">
                    <li>
                        <svg aria-hidden stroke-linecap="round" version="1.1" class="svgicon icon_tag" viewBox="0 0 24 24" fill="none" stroke="currentColor" role="img" width="18" height="18" stroke-linejoin="round" stroke-width="2">
                            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
                            <line x1="7" y1="7" x2="7" y2="7"></line>
                        </svg>
                    </li>
                    <li>
                        <a href="/games/tag-singleplayer" class="button outline">Singleplayer</a>
                    </li>
                    <li>
                        <a href="/games/tag-roguelite" class="button outline">Roguelite</a>
                    </li>
                    <li>
                        <a href="/games/tag-romance" class="button outline">Romance</a>
                    </li>
                    <li>
                        <a href="/games/tag-female-protagonist" class="button outline">Female Protagonist</a>
                    </li>
                    <li>
                        <a href="/games/tag-monsters" class="button outline">Monsters</a>
                    </li>
                    <li>
                        <a href="/games/tag-cute" class="button outline">Cute</a>
                    </li>
                    <li>
                        <a href="/games/tag-hack-and-slash" class="button outline">Hack and Slash</a>
                    </li>
                    <li>
                        <a href="/games/tag-cartoon" class="button outline">Cartoon</a>
                    </li>
                    <li>
                        <a href="/games/tag-amare" class="button outline">Amare</a>
                    </li>
                    <li>
                        <a href="/games/tag-pixel-art" class="button outline">Pixel Art</a>
                    </li>
                </ul>
                <div id="featured_game_grid_6337662" data-max_rows="1" class="featured_game_grid_widget base_widget">
                    <div data-game_id="41399" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(255, 210, 231, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:41399" href="https://nomnomnami.itch.io/syrup-and-the-ultimate-sweet" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzMwODQxNDYucG5n/300x240%23c/SJvbXs.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/nomnomnami/syrup-and-the-ultimate-sweet/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://nomnomnami.itch.io/syrup-and-the-ultimate-sweet" title="Syrup and the Ultimate Sweet" data-label="game:41399" data-action="game_grid" class="title">Syrup and the Ultimate Sweet</a>
                        </div>
                        <div class="sub cell_tags">
                            <a href="/games/tag-cute">#Cute</a>
                        </div>
                        <div class="sub">a candy alchemist finds a candy golem in her basement workshop</div>
                    </div>
                    <div data-game_id="92002" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(238, 238, 238, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:92002" href="https://nomnomnami.itch.io/first-kiss-at-a-spooky-soiree" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1hZ2UvOTIwMDIvNDM2NTQ2LmdpZg==/300x240%23cm/s%2FgKZu.gif" height="240" width="300" class="lazy_loaded" />
                                <div class="gif_label">GIF</div>
                                <div data-gif="https://img.itch.zone/aW1hZ2UvOTIwMDIvNDM2NTQ2LmdpZg==/original/AlExRN.gif" class="gif_overlay"></div>
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/nomnomnami/first-kiss-at-a-spooky-soiree/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://nomnomnami.itch.io/first-kiss-at-a-spooky-soiree" title="First Kiss at a Spooky Soiree" data-label="game:92002" data-action="game_grid" class="title">First Kiss at a Spooky Soiree</a>
                        </div>
                        <div class="sub">a light halloween-themed romance story</div>
                    </div>
                    <div data-game_id="928508" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(245, 245, 168, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:928508" href="https://alarts.itch.io/die-in-the-dungeon" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzk5NjE2MTYuZ2lm/300x240%23cm/JvQ4bt.gif" height="240" width="300" class="lazy_loaded" />
                                <div class="gif_label">GIF</div>
                                <div data-gif="https://img.itch.zone/aW1nLzk5NjE2MTYuZ2lm/original/1IAtVj.gif" class="gif_overlay"></div>
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/alarts/die-in-the-dungeon/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://alarts.itch.io/die-in-the-dungeon" title="Die in the Dungeon CLASSIC" data-label="game:928508" data-action="game_grid" class="title">Die in the Dungeon CLASSIC</a>
                        </div>
                        <div class="sub cell_tags">
                            <a href="/games/tag-roguelite">#Roguelite</a>, <a href="/games/tag-card-game">#Card Game</a>
                        </div>
                        <div class="sub">A turn-based, deck-building roguelite focused on dice combinations!</div>
                    </div>
                    <div data-game_id="143899" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(158, 154, 239, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:143899" href="https://brianna-lei.itch.io/butterfly-soup" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1hZ2UvMTQzODk5LzgzMTY0OC5wbmc=/300x240%23c/GlMIBu.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/brianna-lei/butterfly-soup/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                            <div class="p_data fading_data">
                                <span aria-hidden="true" title="Available for Windows" class="icon icon-windows8"></span>
                                <span aria-hidden="true" title="Available for Linux" class="icon icon-tux"></span>
                                <span aria-hidden="true" title="Available for macOS" class="icon icon-apple"></span>
                            </div>
                        </div>
                        <div class="label">
                            <div class="free_tag meta_tag">Free</div>
                            <a href="https://brianna-lei.itch.io/butterfly-soup" title="Butterfly Soup" data-label="game:143899" data-action="game_grid" class="title">Butterfly Soup</a>
                        </div>
                        <div class="sub">Gay girls playing baseball and falling in love</div>
                    </div>
                    <div data-game_id="940924" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(145, 0, 2, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:940924" href="https://badpiggy.itch.io/red-handed" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzU0MjU2NzEuZ2lm/300x240%23cm/vBxSjf.gif" height="240" width="300" class="lazy_loaded" />
                                <div class="gif_label">GIF</div>
                                <div data-gif="https://img.itch.zone/aW1nLzU0MjU2NzEuZ2lm/original/I6VtOo.gif" class="gif_overlay"></div>
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/badpiggy/red-handed/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://badpiggy.itch.io/red-handed" title="Red Handed" data-label="game:940924" data-action="game_grid" class="title">Red Handed</a>
                        </div>
                        <div class="sub">A stealth game where you have to get caught</div>
                    </div>
                    <div data-game_id="1514441" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(0, 0, 31, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:1514441" href="https://sulpx.itch.io/nuinui-quest" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE0MTAwNTE5LnBuZw==/300x240%23c/pkW8Wm.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/sulpx/nuinui-quest/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://sulpx.itch.io/nuinui-quest" title="FLARE NUINUI QUEST" data-label="game:1514441" data-action="game_grid" class="title">FLARE NUINUI QUEST</a>
                        </div>
                        <div class="sub">A fan-made Hololive action platformer!</div>
                    </div>
                    <div data-game_id="696379" dir="auto" class="game_cell index_game_cell_widget has_cover image_loading lazy_images">
                        <div style="background-color: rgba(35, 65, 103, 0.5)" class="bordered">
                            <a aria-hidden="true" tabindex="-1" data-action="game_grid" data-label="game:696379" href="https://z-richman.itch.io/two-timin-towers" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzQwNDQ0NTcuanBn/300x240%23c/yiajh3.jpg" height="240" width="300" class="lazy_loaded" />
                            </a>
                            <div class="fading_data cell_tools">
                                <a title="Add to collection" href="/g/z-richman/two-timin-towers/add-to-collection?source=home" class="add_to_collection_btn">
                                    <span aria-hidden="true" class="icon icon-playlist_add"></span>
                                    <span class="screenreader_only">Add to collection</span>
                                </a>
                            </div>
                        </div>
                        <div class="label">
                            <div class="web_tag meta_tag">Web</div>
                            <a href="https://z-richman.itch.io/two-timin-towers" title="Two-Timin&#039; Towers" data-label="game:696379" data-action="game_grid" class="title">Two-Timin&#039; Towers</a>
                        </div>
                        <div class="sub cell_tags">
                            <a href="/games/tag-bullet-hell">#Bullet Hell</a>, <a href="/games/genre-action">#Action</a>
                        </div>
                        <div class="sub">Tower defense meets bullet hell! Defend against waves of enemies with towers that also attack YOU!</div>
                    </div>
                </div>
            </section>
            <section class="game_section">
                <div class="section_header">
                    <h2>Featured jams</h2>
                    <a href="/jams" class="button outline forward_link">View all jams</a>
                </div>
                <div id="featured_game_grid_636358" data-always_show data-max_rows="2" class="featured_game_grid_widget base_widget">
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/gmtk-2024" data-label="jam:379683" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzEyODY1OTkxLnBuZw==/300x240%23c/30QazV.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/gmtk-2024" class="title">GMTK Game Jam 2024</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">12,221 joined</strong>
                        </div>
                        <div class="sub">The eight Game Jam hosted by the creator of Game Maker&#039;s Toolkit</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/scream-jam-2024" data-label="jam:384022" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE0NjcxOTM5LmpwZw==/300x240%23c/oxkAyE.jpg" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/scream-jam-2024" class="title">💀 SCREAM JAM 2024 💀</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">2,594 joined</strong>
                        </div>
                        <div class="sub">THE BIGGEST HORROR GAME JAM RETURNS!</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/mental-health-game-dev-champions-2024" data-label="jam:387708" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE2MTUzMDY3LnBuZw==/300x240%23c/0ADbzA.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/mental-health-game-dev-champions-2024" class="title">Safe In Our World Mental Health Game Dev Champions 2024</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">2,144 joined</strong>
                            <strong class="stat">36 submissions</strong>
                        </div>
                        <div class="sub">Empowering gamers and developers to create intimate &amp; personal video games based on real lived-in experiences</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/ost-composing-jam-7" data-label="jam:386809" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE1NjM5ODQ0LnBuZw==/300x240%23c/%2Fu1888.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/ost-composing-jam-7" class="title">OST Composing Jam #7</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">1,422 joined</strong>
                        </div>
                        <div class="sub">Compose a soundtrack for an imaginary game!</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/sunofes24" data-label="jam:385234" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE0NTI1NjM2LnBuZw==/300x240%23c/r8ivjA.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/sunofes24" class="title">SuNoFes 2024</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">1,141 joined</strong>
                        </div>
                        <div class="sub">Focuses on visual novels and story-based games.</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/gbajam24" data-label="jam:386751" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE2MDM2MzU3LnBuZw==/300x240%23c/sZDn%2Fs.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/gbajam24" class="title">GBA Jam 2024</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">416 joined</strong>
                        </div>
                        <div class="sub">Make something for the Game Boy Advance!</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/untitled-game-jam-94" data-label="jam:388788" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE2NDMwNTczLnBuZw==/300x240%23c/QFfOra.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/untitled-game-jam-94" class="title">Untitled Game Jam #94</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">246 joined</strong>
                            <strong class="stat">11 submissions</strong>
                        </div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/gamedevjs-2025" data-label="jam:388329" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE2MTI5NDkyLnBuZw==/300x240%23c/pRXzFe.png" height="240" width="300" class="lazy_loaded" />
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/gamedevjs-2025" class="title">Gamedev.js Jam 2025</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">232 joined</strong>
                        </div>
                        <div class="sub">Let&#039;s build Web games together!</div>
                    </div>
                    <div class="game_cell index_game_cell_widget index_jam_cell_widget has_cover image_loading lazy_images" dir="auto">
                        <div class="bordered">
                            <a href="/jam/scorejam30" data-label="jam:389021" data-action="game_grid" class="game_thumb">
                                <img data-lazy_src="https://img.itch.zone/aW1nLzE2NTIzNTU3LmdpZg==/300x240%23cm/%2FunJhD.gif" height="240" width="300" class="lazy_loaded" />
                                <div class="gif_label">GIF</div>
                                <div data-gif="https://img.itch.zone/aW1nLzE2NTIzNTU3LmdpZg==/original/QJiP4g.gif" class="gif_overlay"></div>
                            </a>
                        </div>
                        <div class="label">
                            <div class="jam_tag meta_tag">Game jam</div>
                            <a href="/jam/scorejam30" class="title">ScoreSpace Jam #30! 🕹️</a>
                        </div>
                        <div class="sub jam_stats">
                            <strong class="stat">65 joined</strong>
                        </div>
                        <div class="sub">Developers make games then the top 3 games are played for high-scores by streamers!</div>
                    </div>
                </div>
            </section>
            <section class="game_section">
                <div class="section_header">
                    <h2>More Featured Games</h2>
                </div>
                <div class="overflow_featured_games featured_game_grid_widget base_widget" id="featured_game_grid_130144"></div>
            </section>
        </div>
        <div class="see_all_games">
            <strong>Don&#039;t see anything you like?</strong>
            <a data-action="footer" data-label="see-all-games" href="/games" class="button outline">
                View all games <span class="icon icon-arrow-right"></span>
            </a>
            <a data-action="footer" data-label="randomizer" href="/randomizer" class="button outline">
                View something random <span class="icon icon-shuffle"></span>
            </a>
        </div>
    </div>


    <script type="text/template" id="loading_lightbox_tpl">
        <div aria-live="polite" class="lightbox loading_lightbox">
            <div class="loader_outer">
                <div class="loader_label">Loading</div>
                <div class="loader_bar">
                    <div class="loader_bar_slider"></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        init_ConversionLink('#conversion_link_8487952', {
            "href": "https:\/\/iced-lemon.itch.io\/ballet-of-steel",
            "source": 6,
            "object_type": 1,
            "object_id": 2719255,
            "class": "game_link"
        });
        init_YoutubeGamePromoBanner('#youtube_game_promo_banner_1578573', null);
        init_Index('#index_2219236', {
            "recs_count": 16
        });
        init_Header('#header_4042057', {
            "autocomplete_props": {
                "autocomplete_url": "\/autocomplete",
                "ca_source": 25,
                "ca_types": {
                    "game": 1,
                    "jam": 4,
                    "featured_tag": 7
                },
                "i18n": {
                    "search_placeholder": "Search for games or creators",
                    "search": "Search"
                },
                "search_url": "\/search"
            }
        });
        I.setup_page();
    </script>
    
</div>