@model IEnumerable<AspMVC.Models.GameCell>
@{
    ViewData["Title"] = "Search";
    
}

    <div id="header_743962" class="header_widget base_widget small_logo">
        <div class="primary_header">
            <h1 class="title" title="itch.io - indie game hosting marketplace">
                <a title="itch.io - indie game hosting marketplace" href="/" class="header_logo shrinkable">
                    <span class="visually_hidden">itch.io</span>
                    <img alt="itch.io logo &amp; title" height="199" class="full_logo" width="775" src="https://static.itch.io/images/logo-black-new.svg">
                    <img alt="itch.io logo" height="235" class="minimal_logo" width="262" src="https://static.itch.io/images/itchio-textless-black.svg">
                </a>
            </h1>
            <div class="header_buttons">
                <a class="header_button browse_btn" href="/games" data-label="browse">Browse</a>
                <a class="header_button devlogs_btn" href="/devlogs" data-label="devlogs">Developer Logs</a>
                <a class="header_button jams_btn" href="/jams" data-label="jams">Jams</a>
                <a class="header_button dashboard_btn" href="/dashboard" data-label="dashboard">Dashboard</a>
                <span class="alt_button">
                    <a class="header_button my_feed_btn" href="/my-feed" data-label="my_feed">Feed</a>
                </span>
                <a class="header_button community.home_btn" href="/community" data-label="community.home">Community</a>
            </div>
            <form class="game_search search_autocomplete_input_widget" action="/search">
                <input type="hidden" name="classification" value="assets">
                <input type="hidden" name="type" value="games">
                <div class="input_wrapper">
                    <input type="text" required="" name="q" class="search_input autocomplete_search_input" placeholder="Search for games or creators" autocomplete="off" value="car">
                </div>
                <button class="submit_btn is_active" aria-label="Search">
                    <svg class="svgicon icon_search" role="img" version="1.1" viewBox="0 0 24 24" width="18" height="24" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" aria-hidden="true">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
            </form>
            <div id="user_panel_5559442" class="user_panel_widget base_widget logged_in">
                <a title="No new notifications" class="notifications_bell" href="/notifications">
                    <svg width="20" height="20" stroke-linejoin="round" version="1.1" aria-hidden="" role="img" class="svgicon icon_bell" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round">
                        <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
                    </svg>
                </a>
                <a href="https://mynameistapzz.itch.io" class="profile_link" data-label="my_profile">
                    <img srcset="https://img.itch.zone/aW1nLzE2NTAyNDQzLnBuZw==/35x35%23/ImLyvI.png 1x, https://img.itch.zone/aW1nLzE2NTAyNDQzLnBuZw==/70x70%23/x1Vyfq.png 2x" class="profile_avatar" src="https://img.itch.zone/aW1nLzE2NTAyNDQzLnBuZw==/35x35%23/ImLyvI.png">
                    <span class="user_name">mynameistapzz</span>
                </a>
                <div class="drop_menu_wrap">
                    <button aria-label="Account Menu" type="button" class="menu_tick" data-label="menu_tick">
                        <svg width="24" height="24" stroke-linejoin="round" version="1.1" aria-hidden="" role="img" class="svgicon icon_down_tick2" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </button>
                    <div class="drop_menu">
                        <div class="menu_group">
                            <div class="group_header">
                                Explore <form method="post" class="theme_toggle_form" action="/user/settings/toggle-dark-mode">
                                    <input type="hidden" value="WyJaU3VEIiwxNzE0NzkwNTQwLCI4dmpvSWVGN3ZnR2dUNzUiXQ==.PV6zsvp6gXsvbUudAdlM9+OTAug=" name="csrf_token">
                                    <button>
                                        <svg width="18" height="18" stroke-linejoin="round" version="1.1" aria-hidden="" role="img" class="svgicon icon_moon" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round">
                                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <a href="/my-feed" class="link_row has_bubble" data-label="my_feed"></a>
                            <a class="link_row" href="/my-collections" data-label="my_collections">My library</a>
                            <a class="link_row" href="/library/recommendations" data-label="my_recommendations">Recommendations</a>
                            <a class="link_row" href="/jams" data-label="jams">Game jams</a>
                        </div>
                        <div class="menu_group">
                            <div class="group_header">Create</div>
                            <a class="link_row" href="/dashboard" data-label="dashboard">Dashboard</a>
                            <a class="link_row" href="/dashboard/posts" data-label="posts">Posts</a>
                            <a class="link_row" href="/game/new" data-label="new_game">Upload new project</a>
                            <a class="link_row" href="/dashboard/sales" data-label="host_sale">Sales &amp; bundles</a>
                            <a class="link_row" href="/dashboard/jams" data-label="host_jam">Host game jam</a>
                        </div>
                        <div class="menu_group">
                            <div class="group_header">Account</div>
                            <a class="link_row" href="https://mynameistapzz.itch.io" data-label="view_profile">View profile</a>
                            <a class="link_row" href="/user/settings" data-label="user_settings">Settings</a>
                            <a class="link_row" href="/logout?token=WyJaU3VEIiwxNzE0NzkwNTQwLCI4dmpvSWVGN3ZnR2dUNzUiXQ%3D%3D.PV6zsvp6gXsvbUudAdlM9%2BOTAug%3D" data-label="log_out">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_dropdown" data-target="browse">
            <a href="/games">Games</a>
            <a href="/tools">Game development</a>
            <a href="/game-assets">Assets</a>
            <a href="/comics">Comics</a>
            <div class="divider"></div>
            <a href="/sales">Sales</a>
            <a href="/bundles">Bundles</a>
            <div class="divider"></div>
            <a href="/jobs">Jobs</a>
            <div class="divider"></div>
            <a href="/tags">Tags</a>
        </div>
    </div>
    <div id="search_5676586" class="search_page grid_results_page page_widget base_widget">
        <div class="search_header grid_header has_filters">
            <h2>Search results for '@ViewData["q"]'</h2>
        </div>
        <div class="grid_outer">
            <div class="game_grid_widget base_widget browse_game_grid" id="game_grid_0">
                @foreach(var game in Model) {
                <div dir="auto" data-game_id="@game.GameId" class="game_cell has_cover">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@game.GameId" data-label="">
                            <img width="315" class="lazy_loaded" height="250" src="@game.CoverImage">
                        </a>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@game.GameId" data-label="">@game.Title</a>
                        </div>
                        <div class="game_text" title="@game.ShortDescription">@game.ShortDescription</div>
                        <div class="game_author">
                            <a asp-area="Blog" asp-controller="ProjectPage" asp-action="CreatorPage" asp-route-creatorId="@game.CreatorID">@game.CreatorName</a>
                        </div>
                        <div class="game_genre">@game.GenreName</div>
                        <div class="game_platform">
                            <i class="fa-brands fa-@(game.PlatformName)"></i>
                        </div>
                    </div>
                </div>
                }
                <div dir="auto" data-game_id="484136" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://free-game-assets.itch.io/cartoon-halloween-2d-backgrounds" data-label="game:484136:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI0OTc3OTgucG5n/315x250%23c/w2C9sc.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/free-game-assets/cartoon-halloween-2d-backgrounds/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://free-game-assets.itch.io/cartoon-halloween-2d-backgrounds" data-label="game:484136:title">Cartoon Halloween 2D Backgrounds</a>
                            <a title="Pay $4.20 or more for this asset pack" href="/s/11302/june-2024-mega-bundle-game-assets-save-98" class="price_tag meta_tag sale">
                                <div class="price_value">$4.20</div>
                                <div class="sale_tag">-30%</div>
                            </a>
                        </div>
                        <div class="game_text" title="Cartoon Halloween 2D Backgrounds for your projects">Cartoon Halloween 2D Backgrounds for your projects</div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://free-game-assets.itch.io" data-label="user:218217">Free Game Assets (GUI, Sprite, Tilesets)</a>
                        </div>
                        <div class="game_rating" title="5.00 average rating from 1 total ratings">
                            <div class="star_value">
                                <span class="screenreader_only">Rated 5.0 out of 5 stars</span>
                                <div class="star_fill" style="width: 100.00000%">
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                </div>
                                <div class="star_holes">
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                </div>
                            </div>
                            <span class="rating_count">(1 <span class="screenreader_only"> total ratings</span>) </span>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="492127" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://gamedeveloperstudio.itch.io/cartoon-bird-1" data-label="game:492127:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI1NDQ4MjEucG5n/315x250%23c/tp0F1%2F.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/gamedeveloperstudio/cartoon-bird-1/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://gamedeveloperstudio.itch.io/cartoon-bird-1" data-label="game:492127:title">Cartoon bird 1</a>
                            <div class="price_tag meta_tag" title="Pay £1.95 or more for this asset pack">
                                <div class="price_value">£1.95</div>
                            </div>
                        </div>
                        <div class="game_text" title="Animated cartoon style bird game asset for 2d games">Animated cartoon style bird game asset for 2d games</div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://gamedeveloperstudio.itch.io" data-label="user:153936">Robert Brooks - gamedeveloperstudio.com</a>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="492131" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://gamedeveloperstudio.itch.io/cartoon-bird-2" data-label="game:492131:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI1NDQ4NDQucG5n/315x250%23c/NIm9Nc.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/gamedeveloperstudio/cartoon-bird-2/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://gamedeveloperstudio.itch.io/cartoon-bird-2" data-label="game:492131:title">Cartoon bird 2</a>
                            <div class="price_tag meta_tag" title="Pay £1.95 or more for this asset pack">
                                <div class="price_value">£1.95</div>
                            </div>
                        </div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://gamedeveloperstudio.itch.io" data-label="user:153936">Robert Brooks - gamedeveloperstudio.com</a>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="492133" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://gamedeveloperstudio.itch.io/cartoon-bird-3" data-label="game:492133:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI1NDQ4NDkucG5n/315x250%23c/upL5li.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/gamedeveloperstudio/cartoon-bird-3/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://gamedeveloperstudio.itch.io/cartoon-bird-3" data-label="game:492133:title">Cartoon bird 3</a>
                            <div class="price_tag meta_tag" title="Pay £1.95 or more for this asset pack">
                                <div class="price_value">£1.95</div>
                            </div>
                        </div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://gamedeveloperstudio.itch.io" data-label="user:153936">Robert Brooks - gamedeveloperstudio.com</a>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="492136" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://gamedeveloperstudio.itch.io/cartoon-bird-4" data-label="game:492136:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI1NDQ4NTMucG5n/315x250%23c/QNK9Xx.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/gamedeveloperstudio/cartoon-bird-4/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://gamedeveloperstudio.itch.io/cartoon-bird-4" data-label="game:492136:title">Cartoon bird 4</a>
                            <div class="price_tag meta_tag" title="Pay £1.95 or more for this asset pack">
                                <div class="price_value">£1.95</div>
                            </div>
                        </div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://gamedeveloperstudio.itch.io" data-label="user:153936">Robert Brooks - gamedeveloperstudio.com</a>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="492137" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://gamedeveloperstudio.itch.io/cartoon-bird-5" data-label="game:492137:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI1NDQ4NTUucG5n/315x250%23c/7F7i0Y.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/gamedeveloperstudio/cartoon-bird-5/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://gamedeveloperstudio.itch.io/cartoon-bird-5" data-label="game:492137:title">Cartoon bird 5</a>
                            <div class="price_tag meta_tag" title="Pay £1.95 or more for this asset pack">
                                <div class="price_value">£1.95</div>
                            </div>
                        </div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://gamedeveloperstudio.itch.io" data-label="user:153936">Robert Brooks - gamedeveloperstudio.com</a>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="511866" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://tmd-studios.itch.io/cars" data-label="game:511866:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI2NTc5NjgucG5n/315x250%23c/E%2FiSfK.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/tmd-studios/cars/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://tmd-studios.itch.io/cars" data-label="game:511866:title">Cars</a>
                        </div>
                        <div class="game_text" title="A collection of pixel vehicles">A collection of pixel vehicles</div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://tmd-studios.itch.io" data-label="user:1518798">TMD_Studios</a>
                        </div>
                        <div class="game_rating" title="4.33 average rating from 3 total ratings">
                            <div class="star_value">
                                <span class="screenreader_only">Rated 4.3 out of 5 stars</span>
                                <div class="star_fill" style="width: 86.66667%">
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                </div>
                                <div class="star_holes">
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                </div>
                            </div>
                            <span class="rating_count">(3 <span class="screenreader_only"> total ratings</span>) </span>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="552328" class="game_cell has_cover lazy_images">
                    <div class="game_thumb" style="background-color:#202020;">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://wenrexa.itch.io/cartoon-fishes" data-label="game:552328:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzc3MzI2NDYuanBn/315x250%23c/mPe%2FpP.jpg" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/wenrexa/cartoon-fishes/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://wenrexa.itch.io/cartoon-fishes" data-label="game:552328:title">Assets: Cartoon Fishes [Pack]</a>
                            <a title="Pay $0.18 or more for this asset pack" href="/s/122702/all-game-assets-gui-icons" class="price_tag meta_tag sale">
                                <div class="price_value">$0.18</div>
                                <div class="sale_tag">-85%</div>
                            </a>
                        </div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://wenrexa.itch.io" data-label="user:1664685">Wenrexa</a>
                        </div>
                        <div class="game_rating" title="5.00 average rating from 2 total ratings">
                            <div class="star_value">
                                <span class="screenreader_only">Rated 5.0 out of 5 stars</span>
                                <div class="star_fill" style="width: 100.00000%">
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                </div>
                                <div class="star_holes">
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                </div>
                            </div>
                            <span class="rating_count">(2 <span class="screenreader_only"> total ratings</span>) </span>
                        </div>
                    </div>
                </div>
                <div dir="auto" data-game_id="563691" class="game_cell has_cover lazy_images">
                    <div class="game_thumb">
                        <a tabindex="-1" data-action="game_grid" class="thumb_link game_link" href="https://badim.itch.io/cards-negative" data-label="game:563691:thumb">
                            <img width="315" data-lazy_src="https://img.itch.zone/aW1nLzI5NTk3MjQucG5n/315x250%23c/msLdva.png" class="lazy_loaded" height="250">
                        </a>
                        <div class="game_cell_tools">
                            <a class="action_btn add_to_collection_btn" href="/g/badim/cards-negative/add-to-collection?source=search">
                                <span class="icon icon-playlist_add"></span>Add to collection
                            </a>
                        </div>
                    </div>
                    <div class="game_cell_data">
                        <div class="game_title">
                            <a class="title game_link" data-action="game_grid" href="https://badim.itch.io/cards-negative" data-label="game:563691:title">Icons Negative (Cards)</a>
                        </div>
                        <div class="game_text" title="Pack of HQ Icons for negative conditions and curses.">Pack of HQ Icons for negative conditions and curses.</div>
                        <div class="game_author">
                            <a data-action="game_grid" href="https://badim.itch.io" data-label="user:116564">Badim</a>
                        </div>
                        <div class="game_rating" title="5.00 average rating from 1 total ratings">
                            <div class="star_value">
                                <span class="screenreader_only">Rated 5.0 out of 5 stars</span>
                                <div class="star_fill" style="width: 100.00000%">
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                    <span aria-hidden="true" class="star icon-star"></span>
                                </div>
                                <div class="star_holes">
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                    <span aria-hidden="true" class="star icon-star2"></span>
                                </div>
                            </div>
                            <span class="rating_count">(1 <span class="screenreader_only"> total ratings</span>) </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


