@model AspMVC.ViewModels.CommentCardViewModel

<div class="comment_con" name="test" data-comment-id="@Model.CommentID">
    <div class="button_con">
        <button><i class="fas fa-caret-up"></i></button>
        <button><i class="fas fa-caret-down"></i></button>
    </div>
    <div class="user_con">
        <div class="user">
            <a class="" href="https://itch.io/profile/mynameistapzz">
                <img src="https://img.itch.zone/aW1nLzE2NTAyNDQzLnBuZw==/25x25%23/uWUPa7.png">
            </a>
            <p>@Model.AuthorName</p>
            <p>@Model.LastSent</p>
        </div>
        <div class="comment-card">
            <div class="comment-content">
                @Html.Raw(Model.Content)
            </div>
            <form role="form" class="edit-comment-form" method="post" style="display:none">
                <textarea class="edit-comment">@Model.Content</textarea>
                <input type="hidden" class="comment-id" value="@Model.CommentID">
                <div class="col-md-offset-2 col-md-10">
                    <button name="post-edit-comment-button" type="submit" class="btn btn-primary post-edit-comment-button">Save</button>
                    <a href="javascript:" class="cancel-edit-comment-button">Cancel</a>
                </div>
                
            </form>
            
        </div>
        @if(Model.isAuthor)
        {
            <div class="comment-card-footer">
                <a href="javascript:;" class="edit-comment-button">Edit</a>
                <a href="javascript:;" class="delete-comment-button">Delete</a>
            </div>
        }
        else
        {
            if(Model.isCreatorOrAdmin)
            {
                <div class="comment-card-footer">
                    <a href="javascript:;" class="delete-comment-button">Delete</a>
                </div>
            }
        }
    </div>
</div>

