@model AspMVC.ViewModels.ProjectPageDetailViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Details";
    //var commentSectionVM = new CommentSectionViewModel(){ PageId = Model.Id, Comments = Model.Comments};
}
@{
    string username = "";
    string userid = "";
    bool isLoggedIn = false;
    bool isCreator = false;
    bool isAdmin = false;
    if (User.Identity.IsAuthenticated)
    {
        isLoggedIn = true;

        userid = userManager.GetUserId(User);
        if (userid == Model.ProjectPage.CreatorId)
        {
            isCreator = true;
        }
        if (User.IsInRole("Administrator"))
        {
            isAdmin = true;
        }
    }

}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link rel="stylesheet" href="~/css/demo.css">
<script src="~/lib/summernote/summernote-lite.min.js"></script>
<link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css" />

<h1>@Model.ProjectPage.Title</h1>

<div class="view_game_page">
    <hr />
    <dl class="row">
        <div class="col">
            <div>
                @Html.Raw(Model.ProjectPage.Description)
            </div>

            <h3>Download:</h3>

            @foreach(var file in Model.ProjectPage.ProjectFiles)
            {
                <div class="mb-1" style="width: 500px;">
                    <a asp-action="Download" asp-route-id="@file.FileID" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a>
                    <strong class="file-name" title="@file.FileName">@file.FileName</strong>
                    <span>@file.FileSize</span>
                </div>
                

            }
            @if (isLoggedIn && !isCreator)
            {
                await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_RatingSection.cshtml", Model.RatingSection);
            }
            @{
                if (isLoggedIn)
                {
                    if (isCreator || isAdmin)
                    {
                        Model.CommentSection.isCreatorOrAdmin = true;
                    }
                }
                await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_CommentSection.cshtml", Model.CommentSection);
            }
        </div>
        <div class="col screenshot_list">
            @foreach (var img in Model.ProjectPage.ProjectPictures)
            {
                <img src="@Url.Content(img.ProjectPictureRelativePath)" class="screenshot" />
            }
        </div>
        
    </dl>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

