@model AspMVC.ViewModels.ProjectPageDetailViewModel

@{
    ViewData["Title"] = "Details";
    //var commentSectionVM = new CommentSectionViewModel(){ PageId = Model.Id, Comments = Model.Comments};
}

<h1>@Model.ProjectPage.Title</h1>

<div class="view_game_page">
    <hr />
    <dl class="row">
        <div class="col">
            <div>
                @Html.Raw(Model.ProjectPage.Description)
            </div>

            <h3>Download:</h3>

            @foreach(var file in Model.ProjectPage.ProjectFiles)
            {
                <div class="mb-1" style="width: 500px;">
                    <a asp-action="Download" asp-route-id="@file.FileID" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a>
                    <strong class="file-name" title="@file.FileName">@file.FileName</strong>
                    <span>@file.FileSize</span>
                </div>
                

            }
            
            @{
                await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_CommentSection.cshtml", Model.CommentSection);
            }
        </div>
        <div class="col screenshot_list">
            @foreach (var img in Model.ProjectPage.ProjectPictures)
            {
                <img src="@Url.Content(img.ProjectPictureRelativePath)" class="screenshot" />
            }
        </div>
        
    </dl>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

