@model AspMVC.ViewModels.ProjectPageDetailViewModel

@{
    ViewData["Title"] = "Details";
    //var commentSectionVM = new CommentSectionViewModel(){ PageId = Model.Id, Comments = Model.Comments};
}
<style>
    .header {
        overflow: hidden
    }

        .header img {
            display: none
        }

        .header.has_image {
            font-size: 0
        }

            .header.has_image img {
                display: inline-block;
                max-width: 100%;

                
            }

            .header.has_image h1 {
                display: none
            }

        .header.align_center {

            text-align: center
        }

        .header.align_right {
            text-align: right
        }
</style>
<div id="header" class="header has_image align_center"><h1 itemprop="name" class="game_title">idle city</h1><img src="https://img.itch.zone/aW1nLzE2NDM1MzAxLmpwZw==/original/tKgTkn.jpg" alt="camera feed"></div>
<h1>@Model.ProjectPage.Title</h1>

<div class="view_game_page">
    <hr />
    <dl class="row">
        <div class="col">
            <div>
                @Html.Raw(Model.ProjectPage.Description)
            </div>

            <h3>Download:</h3>

            @foreach(var file in Model.ProjectPage.ProjectFiles)
            {
                <div class="mb-1" style="width: 500px;">
                    <a asp-action="Download" asp-route-id="@file.FileID" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Download</a>
                    <strong class="file-name" title="@file.FileName">@file.FileName</strong>
                    <span>@file.FileSize</span>
                </div>
                

            }
            
            @{
                await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_CommentSection.cshtml", Model.CommentSection);
            }
        </div>
        <div class="col screenshot_list">
            @foreach (var img in Model.ProjectPage.ProjectPictures)
            {
                <img src="@Url.Content(img.ProjectPictureRelativePath)" class="screenshot" />
            }
        </div>
        
    </dl>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

