@model AspMVC.ViewModels.ProjectPageDetailViewModel

@{
    ViewData["Title"] = "Details";
    //var commentSectionVM = new CommentSectionViewModel(){ PageId = Model.Id, Comments = Model.Comments};
}

<h1>@Model.ProjectPage.Title</h1>

<div class="view_game_page">
    <hr />
    <dl class="row">
        <div class="col">
            <div>
                @Html.Raw(Model.ProjectPage.Description)
            </div>

            <dt class="col-sm-2">
                Download
            </dt>

            @foreach(var file in Model.ProjectPage.ProjectFiles)
            {
                <div>
                    <a asp-action="Download" asp-route-id="@file.FileID">@file.FileName</a>
                </div>
            }
            
            @{
                await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_CommentSection.cshtml", Model.CommentSection);
            }
        </div>
        <div class="col screenshot_list">
            @foreach (var img in Model.ProjectPage.ProjectPictures)
            {
                <img src="@Url.Content(img.ProjectPictureRelativePath)" class="screenshot" />
            }
        </div>
        
    </dl>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

