@model AspMVC.ViewModels.ProjectPageDetailViewModel

@{
    ViewData["Title"] = "Details";
    //var commentSectionVM = new CommentSectionViewModel(){ PageId = Model.Id, Comments = Model.Comments};
}

<h1>@Model.ProjectPage.Title</h1>

<div>
    <hr />
    <dl class="row">


        <div>
            @Html.Raw(Model.ProjectPage.Description)
        </div>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPage.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectPage.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectPage.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="Download" asp-route-id="@Model.ProjectPage.ProjectId">Download</a>
</div>

@{
    await Html.RenderPartialAsync("~/Areas/Blog/Views/Shared/_CommentSection.cshtml", Model.CommentSection);
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

