@model GameCell
<div dir="auto" class="game_cell has_cover lazy_images" data-game_id="@Model.ProjectId">
    <div style="background-color:#000000;" class="game_thumb">
        <a tabindex="-1" class="thumb_link game_link" data-action="game_grid" asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@Model.ProjectId">
            <img width="315" class="lazy_loaded" height="250" src="@Model.CoverImage" />
        </a>
    </div>
    <div class="game_cell_data">
        <div class="game_title">
            <a data-label="" class="title game_link" asp-area="Blog" asp-controller="ProjectPage" asp-action="Details" asp-route-id="@Model.ProjectId" data-action="game_grid">@Model.Title</a>
        </div>
        <div title="@Model.ShortDescription" class="game_text">@Model.ShortDescription</div>
        <div class="game_author">
            <a asp-area="Blog" asp-controller="ProjectPage" asp-action="CreatorPage" asp-route-creatorId="@Model.CreatorID">@Model.CreatorName</a>
        </div>
        <div class="game_genre">@Model.GenreName</div>
        <div class="game_platform">
            <i class="fa-brands fa-@(Model.PlatformName)"></i>
        </div>
    </div>
</div>